
@{
    ViewBag.Title = "El Autor";
}

<div id="content_container">
    <div class="bodycopy">
        <div id="entry_9097975" class="entry">
            <div class="center_to_design">
                <img src="~/Content/imgs/autor.png">
            </div>
        </div>
    </div>
</div>

